<template name="testMeteor01">
    <div id="testMeteor01" class="box" style="
        width: 300px;
        height: 100%;
        padding: 10px;
        background: #f5f5f5;
        ">
        <h2>To Do</h2>
        <p>{{ count }} todos</p>
        <div class="container" style="margin-bottom: 10px;">
            <ul class="list" style="margin: 0px;">
                {{#each data}}
                    {{> listTodo }}
                {{/each}}
            </ul>
        </div>    

        <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input id="newTodo" type="text" placeholder="add new todo here">
            </label>
            <button class="button button-small addButton">
              add
            </button>
        </div>
    </div>
</template>

<template name="listTodo">    
    <li class="item item-checkbox">
        <label class="checkbox">
            <input type="checkbox">
        </label>
        <span>{{ todo }}</span>
    </li>
</template>