<template name="testMeteor01">
    <div id="testMeteor01" class="box" style="
        width: 300px;
        height: 100%;
        padding: 10px;
        background: #f5f5f5;
        ">
        <h2>To Do</h2>

        {{#each data}}
            {{> listTodo }}
        {{/each}}

        <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input id="newTodo" type="text" placeholder="add new todo here">
            </label>
            <button class="button button-small addButton">
              add
            </button>
        </div>
    </div>
</template>

<template name="listTodo">
    <ul class="list">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            {{ todo }}
        </li>         
    </ul>
</template>